@import '../../styles/constants.scss';

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $base * 10;
  min-width: $base * 10;
  height: $base * 10;
  min-height: $base * 10;
  border-radius: $base;
  background-color: $color-white;
  transition: all $transition-01 ease-out;
  cursor: pointer;

  &:hover {
    transform: translate(0.063rem, 0.063rem);
  }

  &:active {
    transform: translate(0.125rem, 0.125rem);
  }

  @media (max-width: $breakpoint-md-min) {
    width: $base * 8;
    min-width: $base * 8;
    height: $base * 8;
    min-height: $base * 8;
  }
}

.button__icon {
  display: block;
  width: $base * 9;
  height: $base * 9;
  transition: all $transition-01 ease-out;

  @media (max-width: $breakpoint-md-min) {
    width: $base * 7;
    min-width: $base * 7;
    height: $base * 7;
    min-height: $base * 7;
  }
}

.button__icon_active {
  transform: rotate(45deg);
}
