@import './constants.scss';

h1 {
  font-size: $fs-xxxl;
  font-weight: $fw-bold;
}

h2 {
  font-size: $fs-xxl;
  font-weight: $fw-bold;
}

h3 {
  font-size: $fs-xl;
  font-weight: $fw-medium;
}

h4 {
  font-size: $fs-l;
  color: $color-dark-04;
}
