@import '../../styles/constants.scss';

.filter__header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 0px 0px;
}

.input {
  width: 100%;
  border: none;
  border-radius: $base;
}

.input-wrapper {
  display: none;
  gap: $base * 2;
}

.input-wrapper_active {
  display: flex;
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: $base * 2;
}

.tag-list__item {
  transition: background-color $transition-01 ease-out;
  cursor: pointer;

  &:hover {
    background-color: $color-grey-05;
  }

  &:active {
    background-color: $color-grey-05;
  }
}
