@import './styles/constants.scss';
@import './styles/normalize.scss';
@import './styles/reset.scss';
@import './styles/indents.scss';
@import './styles/headers.scss';
@import './styles/flex.scss';

body {
  @include roboto;
  background-color: $color-white;
  color: $color-dark;
  scroll-behavior: smooth;
}

.wrapper {
  max-width: 98%;
  margin-right: auto;
  margin-left: auto;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: $base * 2;

  @media (max-width: $breakpoint-md-min) {
    grid-template-columns: 1.5fr 3fr;
  }
}

.box-shadow {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}
