@import './styles/constants.scss';
@import './styles/normalize.scss';
@import './styles/reset.scss';
@import './styles/indents.scss';

body {
  @include roboto;
  background-color: $color-white;
  color: $color-dark;
  scroll-behavior: smooth;
}

h1 {
  font-size: $fs-xxxl;
  font-weight: $fw-bold;
}

h2 {
  font-size: $fs-xxl;
  font-weight: $fw-bold;
}

h3 {
  font-size: $fs-xl;
  font-weight: $fw-medium;
}

h4 {
  font-size: $fs-l;
  color: $color-dark-04;
}

.wrapper {
  max-width: 98%;
  margin-right: auto;
  margin-left: auto;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: $base * 2;

  @media (max-width: $breakpoint-md-min) {
    grid-template-columns: 1.5fr 3fr;
  }
}

.box-shadow {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}
